{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #212529;">
    <div class="container">
      <div class="row mt-5" style="color: white;">
       <a href="/">home</a>/maratona
      <div>
      <div class="row">
        <table class="table table-striped table-dark mt-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Data</th>
              <th scope="col">Palestrante</th>
            </tr>
          </thead>
          <tbody>
            {% for item in listAulas %}
            <tr>
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.titulo }}</td>
              <td>{{ item.data }}</td>
              <td>{{ item.palestrante }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div style="width: 100%;" class="mt-5">
        <p class="text-center mx-auto d-block" style="font-size: 5vw; color: white;">#EUMECOMPROMETO</p>
      </div>
    </div>
  </body>
</html>
